.HomepageContent {
	font-family: 'Roboto Condensed', 'Arial Narrow', Arial, sans-serif;
	overflow: hidden;
}

.CallToActionF,
.CallToActionB {
	display: flex;
	height: fit-content;
	background-color: #fdbf57;
	padding: 25px 10px;
	gap: 10px;
}

.CallToActionF {
	animation: slideInF 1s;
}

.CallToActionB {
	animation: slideInB 1s;
}

@keyframes slideInF {
	0% {
		position: relative;
		left: 3000px;
		opacity: 0;
	}
	100% {
		position: relative;
		left: 0px;
		opacity: 1;
	}
}

@keyframes slideInB {
	0% {
		position: relative;
		right: 3000px;
	}
	100% {
		position: relative;
		right: 0px;
	}
}

.CallToActionF > *,
.CallToActionB > * {
	animation: fadeIn 1.2s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.CallToActionF > button,
.CallToActionB > button {
	height: 50px;
	min-width: 50px;

	background-color: #fdbf57;
	font-size: 40px;
	display: flex;
	padding: 0;

	border: none;
	border-radius: 100px;

	align-self: center;
	align-items: center;
	justify-content: center;
}

.CallToActionF > button:hover,
.CallToActionB > button:hover {
	background-color: white;
}

.CallToActionInfo {
	min-height: 110px;
	width: fit-content;
	background-color: #fdbf57;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	transition: all 5s;
}

.CallToActionInfo > h3 {
	flex: 1;
	margin: 0;
	font-size: 25px;
	text-align: end;
}

.CallToActionInfo > p {
	flex: 1.5;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}

.CallToActionInfo > div {
	width: 230px;
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
}

.CallToActionInfo > button {
	height: fit-content;
	width: fit-content;
	max-width: 230px;

	box-sizing: border-box;
	padding: 12px 22px;
	border: none;
	border-radius: 100px;

	background-color: #7a003c;
	color: white;
	font-size: 14px;
	font-weight: 600;
}

.HomepageContent > div {
	display: flex;
	height: fit-content;
	max-width: 100vw;
}

.CallToActionInactiveF,
.CallToActionInactiveB {
	display: flex;
	width: fit-content;
	height: fit-content;
	position: absolute;
	z-index: -1;
	opacity: 0;
	padding: 25px 15px;
	background-color: #fdbf57;
	animation: slideOutF 1s;
}

.CallToActionInactiveF {
	animation: slideOutF 1s;
}

.CallToActionInactiveB {
	animation: slideOutB 1s;
}

.CallToActionInactiveF > *,
.CallToActionInactiveB > * {
	opacity: 0;
}

@keyframes slideOutF {
	0% {
		right: 0;
		opacity: 1;
		padding: 25px 15px;
	}
	100% {
		right: 2000px;
		opacity: 0;
		padding: 25px 15px;
	}
}

@keyframes slideOutB {
	0% {
		left: 0;
		opacity: 1;
		padding: 25px 15px;
	}
	100% {
		left: 2000px;
		opacity: 0;
		padding: 25px 15px;
	}
}

@media (max-width: 1000px) {
	.CallToAction {
		display: grid;
		grid-template-columns: auto auto auto;
		padding: 25px 10px;
		gap: 20px;
		align-items: center;
	}

	.CallToActionInfo {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	.CallToActionInfo > h3 {
		text-align: start;
	}
}

/*//////////////////////////////////////////////////*/

.ContentContainer {
	display: flex;
	padding: 70px;
	gap: 30px;
	flex-wrap: wrap;
}

.ContentContainer > section {
	flex: 1;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
	transition: all 0.5s;
	overflow: hidden;
	min-width: 250px;
	border: 1px solid gray;
}

.ContentContainer > section:hover {
	background-color: #7a003c;
	box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
}

.ContentContainer section:hover img {
	transform: scale(1.05);
}

section:hover > .Content * {
	color: white;
}

.Content {
	padding: 10px 30px;
}

.ContentContainer > section:hover {
	cursor: pointer;
}

.ContentContainer > section > img {
	transition: all 0.3s;
	width: 100%;
	height: auto;
}

.divider {
	height: 5px;
	width: 40px;
	background-color: #7a003c;
}

.ContentContainer > section:hover .divider {
	background-color: #fdbf57;
}

.ContentContainer > section > div > p {
	color: #5e6a71;
	line-height: 30px;
}

@media (max-width: 500px) {
	.ContentContainer {
		padding: 30px;
	}
}
