@use '../../Variables/colors';

.property-side-bar {
	min-width: 275px;
	padding-bottom: 25px;
}

/*//////////////////////////////////////////////////*/

.sortby-tab {
	width: 100%;
}

.sortby-title {
	color: white;
	font-size: 30px;

	padding: 15px 30px;
	text-align: center;
	background-color: colors.$main-red;
	transition: 0.3s all;

	&:hover {
		cursor: pointer;
		color: black;
		background-color: white;
	}
}

.sortby-dropdown-active-true,
.sortby-dropdown-active-false {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: colors.$main-red;
	color: white;

	height: 0px;
	width: 275px;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;

	transition: height 0.5s;

	h4 {
		line-height: 15px;
		margin: 0;
		padding: 15px 0px;
		background-color: colors.$main-red;
		transition: 0.3s all;
	}
	h4:hover {
		cursor: pointer;
		color: black;
		background-color: white;
	}

	&:hover {
		cursor: pointer;
	}
}

.sortby-dropdown-active-true {
	position: absolute;
	height: 200px;
}

/*//////////////////////////////////////////////////*/

.filter-tab {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.filter-items {
	display: flex;
	flex-direction: column;
	width: 100%;

	div {
		color: #5e6a71;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		padding: 0px 20px;
		border: 0.5px solid #5d6a721d;
		padding: 10px 20px;
		padding-bottom: 25px;
		box-sizing: border-box;
		height: 120px;
		font-size: 24px;

		input {
			font-size: 16px;
		}
	}
	> input {
		font-size: 24px;
	}
}

.filter-submit:hover {
	cursor: pointer;
}

/*//////////////////////////////////////////////////*/

@media (max-width: 650px) {
	.sortby-dropdown-active-true,
	.sortby-dropdown-active-false {
		padding: 12px 5px;
		width: 100%;
	}
	.sortby-dropdown-active-false {
		padding: 0px 5px;
	}
}
