@use '../../Variables/colors';

.property-side-bar {
	min-width: 275px;
	padding-bottom: 25px;
	background-color: white;
}

/*//////////////////////////////////////////////////*/

.sortby-tab {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 40px 0px;

	#sortby {
		// removes default styling in mobile overriding css
		-webkit-appearance: none;
		appearance: none;

		color: black;
		border: 1px solid #93939a;
		border-radius: 30px;
		background-color: white;
		padding: 14px;
		box-sizing: border-box;
		overflow: hidden;
		text-overflow: ellipsis;
		min-height: 50px;
		font-size: 18px;
		width: 80%;
		box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);

		// re-adds dropdown arrow since default styling removed
		background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" xml:space="preserve"><path d="M7.41,8.59L12,13.17l4.59-4.58L18,10l-6,6l-6-6L7.41,8.59z"/><path fill="none" d="M0,0h24v24H0V0z"/></svg>');
		background-position: center right;
		background-repeat: no-repeat;

		&:hover {
			cursor: pointer;
		}
	}
}

/*//////////////////////////////////////////////////*/

.filter-tab {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.filter-items {
	display: flex;
	flex-direction: column;
	width: 100%;

	div {
		color: #5e6a71;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		border: 0.5px solid #5d6a721d;
		padding: 10px 20px;
		padding-bottom: 25px;
		box-sizing: border-box;
		height: 120px;
		font-size: 24px;

		input {
			font-size: 16px;
		}
	}
	> input {
		font-size: 24px;
	}
}

.filter-submit {
	background-color: rgb(253, 191, 87);
	border: none;
	width: 80%;
	border-radius: 30px;
	align-self: center;
	font-weight: bold;
	padding: 14px;
	color: black;
	font-size: 20px !important;
	margin-top: 25px;
	box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
	transition: all 0.2s;
}
.filter-submit:hover {
	cursor: pointer;
	box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.4);
	background-color: #dbdbdd;
}

.reset-button {
	color: black;
	background-color: white;
	border: 0.5px solid #dbdbdd;
	width: 80%;
	border-radius: 30px;
	align-self: center;
	font-weight: bold;
	padding: 14px;
	font-size: 20px !important;
	margin-top: 25px;
	box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
	transition: all 0.2s;
}

.reset-button:hover {
	cursor: pointer;
	box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.4);
	background-color: #dbdbdd;
}

/*//////////////////////////////////////////////////*/

@media (max-width: 650px) {
	.sortby-dropdown-active-true,
	.sortby-dropdown-active-false {
		padding: 12px 5px;
		width: 100%;
	}
	.sortby-dropdown-active-false {
		padding: 0px 5px;
	}
}
