.property-listing-page {
	display: flex;
}

/*//////////////////////////////////////////////////*/

.property-side-bar {
	min-width: 275px;
	border: 1px solid black;
}

/*//////////////////////////////////////////////////*/

.sortby-tab {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.sortby-title {
	color: white;
	font-size: 18px;

	padding: 12px 20px;
	background-color: #7a003c;
	width: 60px;
}

.sortby-dropdown-active-true,
.sortby-dropdown-active-false {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: #7a003c;
	color: white;
	padding: 0px 20px;

	height: 0px;
	overflow: hidden;
	text-align: center;
	gap: 10px;

	transition: all 0.5s;
}

.sortby-dropdown-active-true {
	position: absolute;
	height: 150px;
	width: 60px;
}

.sortby-title:hover,
.sortby-dropdown-active-true:hover {
	cursor: pointer;
}

.sortby-dropdown-items h4 {
	margin: 0;
}

.sortby-dropdown-items h4:hover {
	text-decoration: underline;
}

/*//////////////////////////////////////////////////*/

.property-listings {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 20px;
}

.property-display {
	display: flex;
	flex-direction: column;
	width: 300px;
	min-height: 400px;
	height: fit-content;

	border: 1px solid gray;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
	transition: all 1s;
	overflow: hidden;
}

.property-display:hover {
	cursor: pointer;
	background-color: #7a003c;
	box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
}

/*//////////////////////////////////////////////////*/

.property-img-container {
	height: 200px;
}

.property-img-container img {
	z-index: -2;
	height: 100%;
	width: 100%;
	object-fit: cover;

	transition: all 0.5s;
}

.property-display:hover img {
	transform: scale(1.03);
}

/*//////////////////////////////////////////////////*/

.property-display:hover .property-info {
	color: white;
}

.property-info {
	padding: 20px;
	height: fit-content;
}

.property-info h2 {
	margin: 0;
	height: 60px;
	overflow: hidden;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.property-display h3 {
	margin: 0;
	padding: 10px 0px;
	margin-left: auto;
	width: fit-content;
}

.property-info p {
	margin: 0;
	min-height: 100px;
	overflow: hidden;

	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.property-sub-info {
	display: flex;
	color: #5d6a72;
	font-size: 12px;
}

.property-display:hover .property-sub-info {
	color: #dce0e2;
}

.property-sub-info h3:first-child {
	margin-left: 0;
	margin-right: auto;
}

/*//////////////////////////////////////////////////*/

.filter-tab {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
