.Header {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto Condensed', 'Arial Narrow', Arial, sans-serif;
}

.HeaderBanner {
	min-height: 130px;
	flex-grow: 0.8;
	display: grid;
	grid-template-columns: 16% auto 16%;
}

.McMasterLogo {
	height: 85px;
	width: 180px;
	align-self: center;
	justify-self: flex-end;
}

.HeaderTitle {
	margin: 0;
	grid-column: 2 / 3;
	align-self: center;
	justify-self: center;
	font-size: 42px;
	font-weight: 500;
	color: #7a003c;
}

.HeaderButtons {
	display: flex;
	align-items: center;
	gap: 25px;
}

.HeaderButtons > button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: none;
	padding: 0;
	box-sizing: border-box;
	gap: 5px;
	color: #5e6a71;
	font-size: 15px;
}

.HeaderButtons > button > img {
	width: 40px;
	height: auto;
	filter: invert(40%) sepia(6%) saturate(909%) hue-rotate(158deg) brightness(97%)
		contrast(86%);
}

/*//////////////////////////////////////////////////*/

.HeaderNav {
	min-height: 60px;
	flex-grow: 0.6;
	background-color: #7a003c;
	display: flex;
	align-items: stretch;
	justify-content: center;
	box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.2);
}

.HeaderNav > button {
	box-sizing: border-box;
	padding: 0px 20px;
	background-color: #7a003c;
	border: none;
	font-size: 16px;
	color: white;
	transition: all 0.3s;
}

.HeaderNav > button:hover {
	color: black;
	background-color: white;
	box-shadow: 0px -8px 20px 0px rgba(0, 0, 0, 0.2);
}

button:hover {
	cursor: pointer;
}

/*/ /////////////////////////////////////////////////*/

.CallToAction {
	min-height: 160px;
	flex-grow: 1.4;
	background-color: #fdbf57;
	padding: 15px 15px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.CallToAction {
	display: flex;
	gap: 40px;
}

.CallToAction > h3 {
	flex: 1;
	margin: 0;
	font-size: 28px;
	text-align: end;
}

.CallToAction > p {
	font-size: 18px;
	flex: 1.5;
	margin: 0;
}

.CallToAction > button.ContactBtn {
	height: fit-content;
	max-width: 250px;
	align-self: center;
	justify-self: center;
	border: none;
	background-color: #7a003c;
	color: white;
	font-size: 14px;
	font-weight: 600;
	box-sizing: border-box;
	padding: 12px 22px;
	border-radius: 100px;
}

.CallToAction > button {
	background-color: #fdbf57;
	border: none;
	font-size: 50px;
}
